body {
    color: rgb(196, 196, 196);
    background-color: rgb(27, 27, 27);
}

button {
    color: rgb(196, 196, 196);
    background-color: rgb(27, 27, 27);
}

input {
    color: rgb(196, 196, 196);
    background-color: rgb(27, 27, 27);
}

input[type=text] {
    width: 50px;
}

input[type=number] {
    width: 40px;
}

input[type=range] {
    width: 100px;
    appearance: none;
    background: rgb(97, 97, 97);
}